@charset "utf-8";

/* Variables*/

:root {
    --main-bg-color: white;
    --alt-bg-color: rgb(244, 244, 244);
    --main-text-color: rgb(14, 14, 14);
    --alt-text-color: rgb(79, 79, 79);
    --main-fg-color: rgb(255, 42, 63);
    --alt-fg-color: rgb(36, 149, 255);
}

/* Fonts */
@font-face {
    font-family: "Master of Break";
    src: url("./master_of_break.otf");
}

@font-face {
    font-family: "Nerd font";
    src: url("./DejaVu\ Sans\ Mono\ Nerd\ Font\ Complete.ttf");
}

/* Animations*/
body,
a,
img,
section,
article,
button,
p {
    transition: 100ms;
}

/* General Stuff*/

body {
    margin: 0.5vw 10vw 10vw 10vw;
    text-align: center;
    background-color: rgb(196, 211, 211);
    background-size: auto;
    background-attachment: fixed;
    color: var(--text-color);
}

h1 {
    font-size: 2.25vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.75vw;
}

h4 {
    font-size: 1.5vw;
}

h5 {
    font-size: 1.25vw;
}

h1,h2,h3,h4,h5{
        margin:.5vw;
    }
p,
li,
button {
    font-size: 1vw;
    color: var(--alt-text-color);
}

ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
}
hr{
    width:90%;
}

button {
    font-family: "Sauce Code Pro" !important;
}

main {
    background-color: var(--main-bg-color);
}

footer {
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--alt-bg-color);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>article,
main>header,
#gallery {
    /* padding geral de divs e etc*/ 
    padding: 0vw 8vw 1vw 8vw;
}

header {
    /*header que tem as coisas da navbar*/ 
    justify-content: space-between;
    align-items: center;
    background: var(--main-bg-color);
    text-align: center;
}

/* NavBar Stuff */

#navbar>h1 {
    font-weight: 1000;
    font-family: "Master of Break";
    letter-spacing: 0.8vw;
    margin: 0 0 1vw 0;
}

#navbar ul li {
    margin: 0.5vw;
}

#navbar ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0.5vw;
    display: flex;
}

#navbar ul li a {
    font-size: 1vw;
    padding: 0.4vw;
    border-style: solid;
    border-width: 0;
    border-radius: 0.8vw;
    font-family: "Nerd Font";
    text-decoration: none;
    color: var(--main-fg-color);
}

#navbar ul li a:hover {
    font-family: "Nerd Font";
    color: white;
    background-color: var(--main-fg-color);
}

/* Carrosel */
.container {
    /* Todos os outros items do carrosel ficam aqui dentro */ 
    overflow: hidden;
    border-radius: 0;
    position: relative;
    height: fit-content;
}

#carrousel {
    /* Todas as imagens ficam aqui dentro*/ 
    background-color: #e9e9e960;
    min-height: 40vw;
    max-height: 40vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

#btnleft {
    left: 0vw;
}

#btnright {
    right: 0vw;
}

#btnright,
#btnleft {
    font-family: "Nerd font" !important;
    font-size: 1.6vw;
    color: #555555;
    z-index: 999;
    width: 2vw;
    border-style: none;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #d4d4d4a4;
}

#btnright:hover,
#btnleft:hover {
    color: #959595;
    background-color: #dededee4;
    cursor: pointer;
}

.imagecontainer {
    /*section que tem uma imagem dentro*/
    object-fit: cover;
    box-sizing: border-box;
    /*position: 50% 30%;*/
    image-rendering: auto;
    height: 50vw;
    min-height: 50vw;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.imagecontainer>img {
    /*A imagem dentro da section*/ 
    max-width: 100%;
    min-height: 50vw;
    object-fit: cover;
    object-position: 50% 50%;
    min-width: 80vw;
}

.imagecontainer:hover {
    /*dar um brilho extra quando o usuario passar o mouse*/
    filter: brightness(1.2);
    max-height: 105%;
}

/*About Section */ 
#about{
    margin-top: 1vw;
}
#about>p,#about>ol,#about>h4{
    margin:1vw 5vw;
    text-align: left;
    padding:0;
}
#about>ol{
    margin:1vw 9vw;

}

/*  Gallery General Stuff*/

#gallery>header {
    justify-content: space-between;
    width: 100%;
}

#gallery>article {
    /* Dar aquele aspecto de "cartão" moderno de ui mobile */ 
    border-color: var(--main-fg-color);
    border-radius: 1vw;
    border-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-style: solid;
}

#gallery>article {
    background-color: var(--alt-bg-color);
}

.obra {
    /*por padrão o texto do autor é exibido*/ 
    display: none;
}

.round,
#gallery>article>img {
    border-radius: 1vw;
    overflow: hidden;
}

#gallery>article>img :fullscreen {
    border-radius: 0;
    object-fit: contain;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

#gallery>header {
    /* header que tem o botão de dropdown e o titulo da galeria*/ 
    display: flex;
}

/* Menu Dropdown da galerya*/ 

#btn-gallery {
    z-index: 9998; /*só pra deixar o botão na frente de tudo de certeza*/ 
    position: relative;
    border-style: solid;
    border-width: 0;
    border-radius: 0.5vw;
    background-color: var(--main-bg-color);
    font-family: "Nerd font" !important;
    font-size: 3vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#btn-gallery-dropdown {
    z-index: 9999; /* pro menu dropdown ficar na frente do botão*/ 
    box-shadow: 0.4vw 0.4vw 0.5vw rgba(0, 0, 0, 0.346);
    border-radius: 2vw;
    border-top-left-radius: 0;
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    width: auto;
    z-index: 1;
}

#btn-gallery-dropdown p {
    /* items dentro do dropdown*/
    margin: 0;
    padding: 2vw;
    display: block;
}

#btn-gallery-dropdown p:hover {
    cursor: pointer;
    color: var(--alt-fg-color);
    background-color: var(--alt-bg-color);
}

#btn-gallery-dropdown p:active {
    color: var(--main-fg-color);
    background: rgb(255, 252, 252);
}

#dropdown:hover #btn-gallery {
    cursor: pointer;
    color: var(--main-fg-color);
    border-bottom-left-radius: 0;
}

/* Gallery Metadata */ 
.metadata {
    /* div que tem os dados de nome do autor, ferramenta, e data da obra*/ 
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0vw 2vw;
    margin: 0 1vw;
}

.artist,
.tool {
    margin: .25vw 1vw;
    text-align: left;
}

.date {
    margin: .25vw 1vw;
    text-align: right;
}

.artist::before {
    font-weight: 600;
    color: var(--main-fg-color);
    content: " Artista: ";
}

.tool::before {
    font-weight: 600;
    color: var(--alt-fg-color);
    content: " Meio: ";
}

.date::before {
    font-weight: 600;
    color: var(--main-text-color);
    content: " Data: ";
}

/* Gallery Buttons */ 

.buttons {
    display: flex;
    margin: 0 3.8vw;
    justify-content: space-between;
}

.buttons>button {
    /*botões para alternar entre texto da obra e texto do artista */ 
    border-radius: .5vw;
    background-color: var(--main-bg-color);
    border-color: var(--main-fg-color);
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    padding: .7vw 1vw;
    color: var(--alt-fg-color);
}

.buttons>button:hover {
    background-color: #e3e3e3;
}

.buttons>button:active {
    background-color: rgb(199, 199, 199);
    border-color: var(--alt-bg-color);
}

/* Gallery art-small*/ 
.art-small {
    margin: 0;
    margin-bottom: 2vw;
    display: inline-block;
    max-width: 45%;
    min-width: 45%;
    box-sizing: content-box;
}

.art-small>.metadata {

    padding: 0vw 0vw;
    margin: 0 1vw;
}

.art-small>p {
    min-height: 8vw;
    max-height: 8vw;
    overflow-y: scroll;
    scrollbar-track-color: transparent;
    scrollbar-color: var(--main-fg-color) transparent;
}

.art-small>img {
    padding: 0;
    cursor: pointer;
    object-fit: cover;
    min-width: 100%;
    min-height: 25vw;
    max-width: 100%;
    max-height: 25vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.art-small>.metadata>div>.artist::before {
    content: " ";
}

.art-small>.metadata>div>.tool::before {
    content: " ";
}

.art-small>.metadata>.date::before {
    content: " ";
}

.art-small>.autor,
.art-small>.obra {
    text-align: left;
    margin: .5vw 1.5vw;
}

.art-small>.buttons {
    margin: 0 1vw;
}

/* Gallery art-big */ 
.art-big>section>p {
    font-family: "Nerd font";
}

.art-big {
    margin: 1vw 0;
}

.art-big>img {
    margin-top: 2vw;
}
.art-big>p {
    padding: 1vw 3vw;
}

.art-big>img {
    cursor: pointer;
    max-width: 100%;
    max-height: 80vh;
}

@media only screen and (max-width: 1100px) {

    /* General Stuff */ 
    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 5.6vw;
    }

    h4,
    button {
        font-size: 5.2vw;
    }

    h5 {
        font-size: 4.8vw;
    }
    
    p,
    li {
        font-size: 4vw;
        color: var(--alt-text-color);
    }

    body {
        margin: 0;
    }
    footer{
        padding:1vw;
    }
    footer>section{
        margin:0 1vw;
    }
    footer>section>ul>li{
        text-align: left;
        font-size:3vw;
    }

    main>article,
    main>header,
    #gallery {
        padding: 2vw;
    }

    /* Carrosel */ 
    #carrousel {
        /* esse carrosel tem os containers com as imagens*/ 
        min-height: 80vw;
        max-height: 80vw;
    }

    .imagecontainer {
        /*as imagens vão dentro desse container*/ 
        object-fit: cover;
        min-height: 80vw;
        max-height: 100vh;
        min-width: 100%;
    }

    .imagecontainer>img {
        /* aqui meche nas imagem de vdd*/ 
        max-width: 100%;
        min-height: 80vw;
        object-fit: cover;
        object-position: 50% 50%;
        min-width: 80vw;
    }

    #btnright,
    #btnleft {
        font-size: 5vw;
        width: 7vw;
    }

    /* Navbar */
    #navbar ul li a {
        padding: 1.5vw;
        border-radius: 3vw;
        font-size: 5vw;
    }

    #navbar h1 {
        letter-spacing: 1.5vw;
        font-size: 8vw;
        margin: 4vw;
    }

    /* Gallery */
    #gallery>article {
        margin-bottom: 3vw;
    }

    #btn-gallery {
        font-size: 8vw;
    }
    
    .buttons>button {

        font-family: "Nerd font" !important;
        padding: 2vw;
        width: 10vw;
        height: 10vw;
        border-radius: 3vw;
    }
    
    .autor,
    .obra {
        text-align: left !important;
        margin: 1vw 3vw;
    }

    /* Gallery metadata */  
    .artist,
    .tool,
    .date {
        font-size: 3vw;
        margin: .5vw;
    }

    .artist::before {
        font-family: "Nerd font";
        font-weight: 600;
        color: var(--main-fg-color);
        content: ' ';
    }

    .tool::before {
        font-family: "Nerd font";
        font-weight: 600;
        color: var(--alt-fg-color);
        content: ' ';
    }

    .date::before {
        font-family: "Nerd font";
        font-weight: 600;
        color: var(--main-text-color);
        content: ' ';
    }

    /* gallery art-small*/ 

    .art-small>p {
        font-size: 3vw;
        max-height: 25vw;
    }

    .art-small>img {
        cursor: pointer;
        min-width: 100%;
        min-height: 40vw;
    }
    
    .art-small>.metadata,
    .art-small>.buttons {
        max-width: none;
        margin: 2vw;
    }
    .art-small>.buttons>button {
        padding: 0;
        width: 8vw;
        height: 8vw;
    }

    .art-small>.metadata {
        flex-direction: column;
    }

    .art-small>.metadata>.date {
        text-align: left;
    }

    /*Gallery art-big */ 

    .art-big>img {
        cursor: pointer;
        max-width: 95%;
        max-height: 70vh;
    }
    

    
}